@import '@/styles/variables';


.input {
  width: 100% !important;
  &__navbar {
    border: 1px solid $dirtyLight !important; 
    background-color: $darkGreen !important; 
    color: $dirtyLight !important; 
    &::placeholder {
      color: $dirtyLight !important;
    }
    &:hover {
        border: 1px solid $light !important;
      }
    &:focus {
      border: 1px solid $light !important;
      box-shadow: 0 0 0 2px rgba(224, 235, 223, 0.3) !important;
      &::placeholder {
        color: $light !important;
      }
    }
    }
    &__main {
      &::placeholder {
        color: $grey !important;
      }
      &:hover {
      border: 1px solid $lightGreen !important;
      }
      &:focus {
        border: 1px solid $lightGreen !important;
        box-shadow: 0 0 0 2px rgba(163, 212, 48 , 0.3) !important;
      }
    }
  }


