@import '@/styles/variables';

.navbarInput {
  border: 1px solid $light; 
  border-radius: 6px;
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px; 
  -khtml-border-radius: 6px; 
  background-color: $darkGreen !important; 
  height: 66%; 
  color: $light; 
  font-size: 1.9vh;
  transition: all 0.7 ease;
  text-align: center;
  text-decoration: none;
  &::placeholder {
    color: $light;
    font-size: 18px;
    margin-left: 10px;
  }
}