@import '@/styles/variables';

.mainDataElem {
  display: flex;
  &__name {
    width: 70%;
    border-left: 1px solid $light;
    border-bottom: 1px solid $light;
  }
  &__date {
    width: 30%;
    border-left: 1px solid $light;
    border-bottom: 1px solid $light;
    border-right: 1px solid $light;
  }
}