@import '@/styles/variables';

::-webkit-scrollbar {
  width: 1.3vh !important;
  border-left: 1px solid $darkGreen !important;
  border-right: 1px solid $darkGreen !important;
}

// /* Track */
// ::-webkit-scrollbar-track {
//   background: $darkGreen; 
// }
 
// /* Handle */
::-webkit-scrollbar-thumb {
  background: $darkGreen !important; 
}
// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555; 
// }
.branchWrapper {
  flex:2;
  height: 95.2vh;
  display: flex;
  flex-direction: column;
}

.branch {
  
  height: 95.2vh;
  background-color: $green;
  flex: 2;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
 
  &__plug {
    //height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    color: $light;
    //align-items: center;
  }

  &__wrapper {
    flex: 12;
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }
  &__scroll {
    flex: 1;
    height: 100%;
    width: 1.3vh;
  }
  &__goBackPlace {
    border-top: 1px solid $darkGreen;
    background: $green;
    &_button {
      margin: 1.3vh;
    }
  }
}