$darkGreen: #384D47;
$green: #7C8E51;
$light: #E0EBDF;
$dirtyLight: #c8d1c7;
$dark: #414141;
$lightGreen: #a3d430;
$middleGreen:  #8fb142;
$grey: #d9d9d9;

$test: rgba(224, 235, 223, 0.301);

@mixin vision {
  &-show {
    opacity: 1;
    z-index: 1;
    transition: opacity 0.7s ease-in-out;
  }
  &-hide {
    opacity: 0;
    z-index: -2;
    transition: opacity 0.7s ease-in-out;
  }
}