//test mixin woth &&&
// сделать анимацию максимально плавной за счет anime js
// МОжет немного рефакторинга? После всех Main компонентов
@import '@/styles/variables';
@mixin vision {
  &-show {
    opacity: 1;
    z-index: 1;
    transition: opacity 0.7s ease-in-out;
  }
  &-hide {
    opacity: 0;
    z-index: -2;
    transition: opacity 0.7s ease-in-out;
  }
}

// .editorsMenu {
//   border: 1px solid $grey !important;
// }

.item {
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: 1;
    transition: opacity 1500 ease-in;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transition: opacity 1500 ease-in;
  }
}

.main {
  flex: 9;
  position: relative;
  .editor {
    position: absolute;
    display: flex;
    width: 100%;
   @include vision;

    &__left {
    flex: 9;
    display: flex;
    flex-direction: column;
    &_dropMenu {
      flex: 3;
      margin: 1.3vh;
      margin-bottom: 0;
    }
    &_label {
      flex: 12;
      margin: 1.3vh 1.3vh  0 0;
    }
    
    &_dialog {
      margin: 1.3vh;
      margin-bottom: 0;
    }
    &_comment {
      margin: 1.3vh;
    }
    &_tabs {
      margin:  0 1.3vh;
      @include vision();
      display: flex;
      flex-direction: column;
      &_cross {
        margin-top: 1.3vh;
      }
    }
  };
  &__right {
    flex: 6;
    flex-direction: column;
    &_space {
      flex: 12;
    }
    &_createBtn {
      flex: 3;
      margin: 1.3vh 1.3vh 0 0 ;
    }
    &_saveInfo {
      flex:0.3;
      margin: 1.3vh 0.3vh 0 0;
      color: $grey;
    }
    &_dialog {
      margin: 1.3vh;
      margin-left: 0;
    }
    &_branchDir {
      margin: 1.3vh;
      margin-left: 0;
    }
    &_metaData {
      margin-right: 1.3vh;
      @include vision();
    }
  }
  }
  .setup {
    @include vision;
  }
  .project {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include vision;
    &__upPart {
      display: flex;
      &_input {
        flex: 3;
        margin: 1.3vh;
      }
      &_space {
        flex: 8;
      }
      &_createBtn {
        margin: 1.3vh;
        flex: 2
      }
    }
    &__bottomPart {
      &_description {
        margin: 0 1.3vh;
      }
      &_access {
        margin: 1.3vh 1.3vh 0 1.3vh;
        p {
          line-height: 3vh;
        }
      }
    }
  }
  .version {
    position: absolute;
    width: 100%;
    display: flex;
    @include vision;
    &__input {
      flex: 8;
      margin: 1.3vh;
    }
    &__space {
      flex: 8;
    }
    &__createBtn {
      margin: 1.3vh;
      flex: 2
    }
  }
  .beginner {
    position: absolute;
    text-transform: capitalize;
    color: $green;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    @include vision;
  }
  .social {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include vision;
    &__chusedUser {
      &--WRAPPER{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }
      margin: 1.3vh 1.3vh 0 1.3vh;
      width: fit-content; //56.3vw; fullWorkPlace
      min-height: 7vh;
      border: 1px solid $grey;
      display: flex;
      //justify-content: center;
      align-items: center;
      &_plug {
        margin: 1.3vh;
        color: $grey
      }
      &_showProfile {
        &_avatar {
          margin: 1.3vh;
          &_plug {
            margin: 1.3vh;
            border: 1px solid $grey;
            border-radius: 50%;
            width: 4vh;
            height: 4vh;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      &_chuseProfile {
        margin-right: 1.3vh;;
      }
      &_addToFriend {
        max-height: 4vh;
      }
      &_projectCount {
        margin: 0 1.3vh;
      }
    }
    &__findUser {
      width: 30vw;
      margin: 1.3vh;
    }
    &__findFriend {
      width: 30vw;
      margin: 0 1.3vh 1.3vh 1.3vh
    }

    &__requestToFriend {
      margin: 0 1.3vh 1.3vh 1.3vh;
      border: 1px solid $grey;
      width:  30vw;
      &_list {
        //
      }
      &_plug {
        margin: 1.3vh;
        color: $grey;
      }
    }
  }
}