@import '@/styles/variables';

.artPart {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__main {
      position: relative;
    &_description {
      //position: absolute;
      @include vision
    }

    &_picture {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      @include vision;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__controllers {
    width: 100%;
    display: flex;
    margin-top: 1.3vh;
    .ant-tag {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}